# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production build
/build

# misc
.DS_Store
*.pem
*.log
*.log.*

# local env files (IMPORTANT - hides your API keys)
.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel deployment folder
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# backup or temp files
*.swp
*.bak
*.tmp
*.old
